body {
    margin: 0;
    background-color: #ffffff;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #ffffff;
    border-bottom: 30px solid #272934;
}

header section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 1rem;
}

.appName {
    font-size: 2rem;
    margin: 1rem;
    color: #04aa6d;
    font-weight: bold;
    font-family: sans-serif;
}

.userName {
    margin-right: 1.5rem;
    color: #04aa6d;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 18px;
}

.logout {
    width: 130px;
    padding: 8px 16px;
    background-color: #ffc0c7;
    color: black;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 18px;
    border-radius: 25px;
    border: none;
}

.logout:hover {
    background-color: #04aa6d;
}

.noStyle {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

main {
    display: flex;
    margin-top: 2rem;
    justify-content: center;
}

main section {
    min-width: 70%;
    padding: 1rem 2rem;
    background-color:#d8dbde;
    border: 2px solid #bebfc0;
}

main p {
    font-family: sans-serif;
    font-size: 25px;
    font-weight: bold;
}

.chatRoom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #04aa6d;
    border: 2px solid #0b5817;
    margin-top: 1rem;
    padding: 1.5rem;
}

.chatRoom:hover {
    background-color: #03905c;
    cursor: pointer;
}

.chatRoom li:not(:first-child) {
    margin-top: 0.5rem;
}

.chatRoomData {
    font-family: sans-serif;
    font-size: 18x;
    font-weight: bold;
    color: #ffffff;
}

.unreadChatRoom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #ef6272;
    border: 2px solid rgb(133, 14, 14);
    margin-top: 1rem;
    padding: 1.5rem;
}

.unreadChatRoom:hover {
    background-color: #d14051;
}

.unreadChatRoom li:not(:first-child) {
    margin-top: 0.5rem;
}

.unreadMessage {
    color: #ffffff;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
}