@import "../style.css";

h1 {
    grid-area: title;
    text-align: center;
}

.wrapper-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    background-color: transparent;
    grid-area: wrapper-list;
}

.user-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
    width: 10em;
    height: fit-content;
    font-size: 1rem;
    background-color: #aaaaaa;
    color: #fff;
    margin: 1rem;
    padding: 1rem;
    pointer-events: all;
    cursor: pointer;
}

.user-banner figure {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.user-banner .user-name {
    word-wrap: break-word;
}

.user-banner img {
    width: 100%;
    height: auto;
    object-fit: fill;
}

.user-info-keys,
.user-info-values {
    list-style: none;
    display: flex;
    flex-grow: 0;
    flex-direction: column;
}

.user-info-keys {
    align-items: flex-end;
}

.user-info-values {
    align-items: flex-start;
}

.user-info-values li {
    text-align: justify;
    text-overflow: ellipsis;
    overflow: hidden;
}

.curtain {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: 0.5;
    z-index: 99;
}

.user-info-wrapper {
    position: fixed;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    flex-direction: row;
    justify-self: center;
    align-self: center;
    width: 50%;
    height: 50%;
    margin: 0;
    padding: 0;
    background-color: #ccc;
    opacity: 1;
}

.user-details {
    display: flex;
    flex-direction: row;
    font-size: 1vmax;
    align-items: center;
}
